<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/dataAnalysisStyle.css">
</head>
<body>

<h4 class="app-page-title">Data Analysis</h4>

<div class="app-page-content">
  <section id="app-data-chart" class="app-display-no">
  </section>
  <table id="app-data-table" class="app-display-no">
    
  </table>
</div>
<script type="text/javascript" src="../js/dataAnalysisController.js"></script>
</body>
</html>