<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/todayWeatherStyle.css">
</head>
<body>

<h4 class="app-page-title">Today's Weather</h4>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>
$(function(){
 $.get("http://api.openweathermap.org/data/2.5/weather?q=Taipei,TW&units=metric&appid=a5f1336170c05f660351fae39c9ed457", function(resp){
  console.log(JSON.stringify(resp));
 }).error(function () {
  console.log("ERROR");
 });

  
});
</script>

</body>
</html>